<main>
  <form>
    <label for="zipCode">Add a location</label>
    <input
      type="number"
      name="zipCode"
      placeholder="Use a US zipcode"
      [formControl]="zipCode"
    />
    <button (click)="addLocation(); $event.preventDefault()">
      Add location
    </button>
    @if(this.locationService.locationError()){
      <p class="locationError">{{locationService.locationError()}}</p>
    }
  </form>
  @for(weather of this.weatherService.weather();track weather.id){
  <app-weather-card
    [weather]="weather"
    (remove)="removeLocation($event)"
  ></app-weather-card>
  }
</main>
